<mat-dialog-content class="mat-typography">
    <h1>{{movie.title}}</h1>
    <p><strong>Título Original: </strong>{{movie.original_title | titlecase}}</p>
    <p><strong>URL: </strong>
        <a href=(movie.homepage)>{{movie.homepage}}</a>
    </p>
    <p><strong>Fecha de Salida: </strong>{{movie.release_date | date:'dd/MM/yyyy'}}</p>
    <p><strong>Duración: </strong>{{movie.runtime}} minutos</p>
    <p><strong>Recaudado: </strong>{{movie.revenue | currency}}</p>
    <img class="imagen" [src]="getPhotoUrl()" [alt]=(movie.title)>
    <h3>Descripción: </h3>
    <p>{{movie.overview}}</p>
    <p><span><strong>Valoración: </strong></span>{{movie.vote_average}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>Cancelar</button>
    <button mat-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>
    Guardar
  </button>
</mat-dialog-actions>
