<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav mode="over">
        <mat-list>
            <mat-list-item role="listitem">
                <a routerLink="/movies-popular" routerLinkActive="router-link-active">
                    <button mat-button color="primary"><mat-icon class="sidenav-icon" mat-list-icon>movie_filter</mat-icon>Películas</button>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a routerLink="/people-popular" routerLinkActive="router-link-active">
                    <button mat-button color="primary"><mat-icon class="sidenav-icon" mat-list-icon>face_retouching_natural</mat-icon>Actores</button>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button color="accent" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
                <span>MovieDB</span>
                <span class="example-spacer"></span>
                <ng-container [ngSwitch]="currentPage">
                    <button *ngSwitchCase="'movies-popular'" mat-icon-button class="example-icon favorite-icon"><mat-icon>add</mat-icon></button>
                    <button *ngSwitchCase="'people-popular'" mat-icon-button class="example-icon favorite-icon"><mat-icon>add</mat-icon></button>
                </ng-container>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>