<mat-card class="example-card">
    <mat-card-header>
        <img (click)="openDialogMovieDetail(movieInput?.id)" class="image" [src]='getPhotoUrl()' [alt]='(movieInput?.title)'>
    </mat-card-header>
    <mat-card-content>
        <h2>{{movieInput?.title}}</h2>
        <p>{{movieInput?.release_date | date: 'dd/MM/yyyy'}}</p>
    </mat-card-content>
    <mat-card-actions>
        <circle-progress [percent]='(movieInput.vote_average * 10)' [radius]="35" [outerStrokeWidth]="1" [innerStrokeWidth]="3" [outerStrokeColor]="'#3f51b5'" [innerStrokeColor]="'#FF4081'" [animation]="true" [animationDuration]="400"></circle-progress>
        <button style="margin-left: 40%;" mat-raised-button (click)="openDialogMovieDetail(movieInput?.id)" color="primary">Ver Detalles</button>
    </mat-card-actions>
</mat-card>