.example-card {
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 15px;
    height: 460px;
}

.content {
    background-color: #F6F6F6;
    height: 85px;
    z-index: 1;
}

.rating {
    position: absolute;
    top: 0px;
    left: 20px;
}

.movie-image {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    max-height: 300px;
    margin-bottom: 7%;
}

.movie-image img {
    object-fit: cover;
    transition: transform 1s ease;
}

.movie-image:hover img {
    transform: scale(1.2);
    transition: transform 1s ease;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 90%;
}

.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em;
    line-height: 1.2em;
    text-align: justify;
}

.text.ellipsis::after {
    content: "...";
    position: absolute;
    right: -12px;
    bottom: 4px;
}
