.example-card {
    margin-bottom: 10%;
    background-color: #F6F6F6;
}

.image {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    max-height: 450px;
}
