<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{peopleInput?.name}}</mat-card-title>
    </mat-card-header>
    <img class="image" [src]='getPhotoUrl(peopleInput?.profile_path)' [alt]='(peopleInput?.name)'>
    <mat-card-content>
        <p><strong>Votos Recibidos</strong>: {{peopleInput?.popularity}}</p>
        <p><strong>Papeles destacados</strong>: <span *ngFor="let movie of getKnowFor()">{{movie.title}}, </span></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary">VER MÁS</button>
    </mat-card-actions>
    <circle-progress [percent]='(peopleInput.popularity * 10)' [radius]="35" [outerStrokeWidth]="1" [innerStrokeWidth]="3" [outerStrokeColor]="'#3f51b5'" [innerStrokeColor]="'#FF4081'" [animation]="true" [animationDuration]="400"></circle-progress>
</mat-card>