<h2 mat-dialog-title>¿Quieres cambiar de página?</h2>
<mat-dialog-content class="mat-typography">
    <h3>Estás a punto de cambiar de página</h3>
    <p>
        Todos los cambios que no hayas guardado se perderán. Selecciona la opción "
        <span style="color: red">Guardar</span>" para que sus cambios persistan en memoria.
    </p>
    <p>
        Si quiere continuar sin guardar sus cambios seleccione la opción "<span style="color: blue">Cancelar</span
    >"
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" mat-dialog-close>Cancelar</button>
  <button mat-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>
    Guardar
  </button>
</mat-dialog-actions>
